
body {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, $green-color, $blue-color);
  color: white;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}